/* mobile */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 15px 15px 5px 15px;
  border-bottom: 2px solid #c67c4e;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 20px 50px 10px 50px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    padding-bottom: 15px;
    font-size: 18px;
  }
}
