.searchBox {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label {
  font-weight: 300;
  margin-left: 15px;
  font-size: 14px;
}

.input {
  padding: 10px;
  background-color: #f9f2ed;
  border: 1px solid #c67c4e;
  border-radius: 20px;
  width: 290px;
  color: #313131;
  font-size: 500;
  text-indent: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .input {
    width: 370px;
  }
}

@media screen and (min-width: 1024px) {
  .label {
    font-size: 16px;
  }
}
