.section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 14px;
}

.title {
  font-size: 18px;
}

.wrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.listWrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .wrap {
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
  }
  .title {
    font-size: 20px;
  }
  .listWrap {
    gap: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .section {
    padding: 20px 50px;
  }

  .title {
    font-size: 24px;
  }
}
