.modalContent {
  border: 2px solid #c67c4e;
  background-color: #f9f2ed;
  border-radius: 30px;
  max-width: 250px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.form {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formField {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  margin-bottom: 15px;
}

.input {
  padding: 10px;
  background-color: #edd6c8;
  border: 1px solid #c67c4e;
  border-radius: 20px;
  width: 200px;
  color: #313131;
  font-size: 12px;
  text-indent: 10px;
}

.label {
  font-weight: 300;
  margin-left: 15px;
}

.formField span {
  position: absolute;
  bottom: -15px;
  font-size: 10px;
  right: 0;
  font-weight: 300;
  color: rgb(103, 18, 18);
}

.btn {
  padding: 10px;
  border: none;
  border-radius: 30px;
  background-color: #c67c4e;
  color: #f9f2ed;
  font-size: 600;
  font-weight: 500;
  width: 150px;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .modalContent {
    max-width: 345px;
  }
  .form {
    font-size: 16px;
  }
  .input {
    width: 320px;
  }
}
