.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contactData {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}
.field {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.name {
  font-weight: 500;
  color: #c67c4e;
  font-size: 18px;
}

.btnwrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  padding: 10px;
  border: none;
  border-radius: 30px;
  background-color: #c67c4e;
  color: #f9f2ed;
  font-size: 300;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
