.nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  align-items: center;
}

.link {
  color: #313131;
  text-decoration: none;
  display: block;
}
.link:hover {
  cursor: pointer;

  transform: scale(1.1);
}
.activeLink {
  text-decoration: underline;
  font-weight: 500;
  color: #c67c4e;
}

@media screen and (min-width: 768px) {
  .nav {
    gap: 40px;
  }
  .activeLink {
    transform: scale(1.1);
  }
}

@media screen and (min-width: 1158px) {
  .nav {
    gap: 60px;
  }
}
