.pageBox {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  gap: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f2ed;
  padding: 30px;
  border-radius: 30px;
  border: 2px solid #c67c4e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 768px) {
  .pageBox {
    max-width: 450px;
  }
}
