.contactList {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.contactItem {
  list-style: none;
  border: 2px solid #c67c4e;
  background-color: #f9f2ed;
  border-radius: 30px;
  width: 270px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 1024px) {
  .contactList {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
}
