.section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  margin: 0 auto;
  font-size: 14px;
}
.title {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.title h3 {
  font-size: 18px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.list ul {
  margin-left: 25px;
}
.link {
  text-decoration: underline;
  color: #c67c4e;
  font-weight: 500;
}

.wraplink {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
}

.link:hover {
  transform: scale(1.1);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .section {
    gap: 40px;
    font-size: 16px;
  }
  .title h3 {
    font-size: 20px;
  }
  .list ul {
    margin-left: 85px;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding: 40px;
    font-size: 18px;
  }
  .title h3 {
    font-size: 22px;
  }
}
